{% extends "base.html" %} {% block content %} {% load static %} {% load cloudinary %}
<link rel="icon" href="{% static 'img/twitter.png' %}" />
<section class="content">
    <div class="home-col">
        <div class="img-col">
            {% load static %}
            <img src="{% static 'img/twitter.png' %}" class="image" />
        </div>
        <div class="text-col">
            <h3>Home</h3><br />
        </div>
     </div>
    <section class="post_form">
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="logo_user">
                <div class="logo_bar">
                    {% load static %}
                    <img src="{% static 'img/team.png' %}" class="home_icon"/>
                </div>
                <div class="namebar">
                    <input type="text" name="name" placeholder="Your Name" required class="name">
                    <textarea name="body" placeholder="What's Happening?" required></textarea>
                </div>
            </div>
            <div class="submitt">
                <div><input type="file" id="files" name="image" /></div>
                <div class="tweet"><input type="submit" value="Tweet" class="button"/></div>
           </div>
        </form>
        
    </section>

    <section class="posts">
        <ul>
            
            {% for post in post %}
            <li>
                
                <img class="menu_icon js-menu-icon" src="{% static 'img/option.png' %}" />
                <div class="menu">
                    <a href="/edit/{{ post.id }}/">Edit</a><br />
                    <a href="/delete/{{ post.id }}/">Delete</a>
                </div>
                <div class="content_space">
                    <div class="logo">
                        <img src="{% static 'img/team.png' %}" />
                    </div>
                    <div class="name_body">
                        <div class="name_time">
                            <div class="name">{{ post.name }}</div>
                            <div class="datetime"> {{ post.created_at }}</div>
                        </div>
                        <p> {{ post.body }}</p>
                        {% if post.image.url %}
                        <img src="{{post.image.url}}" alt="" style="width:60%">
                        {% endif %}
                        <div class="like">
                            <div><a href="/like/{{ post.id }}/" ><img src="{% static 'img/like.png' %}"  class="likebtn"/></a></div>
                            {{post.likes}}
                        </div>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    </section>
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="{% static 'js/posts.js' %}"></script>
</section>
{% endblock %}